*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100vw;
    padding: 3rem;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 3rem;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
input, select{
    width: 20rem;
    height: 3.5rem;
    outline: none;
    border: 2px solid black;
    padding-left: 1rem;
    margin: 1rem 0;
}
button{
    padding: 1rem 3rem 1rem 3rem;
    height: 3.6rem;
    color: white;
    background-color: black;
    outline: none;
    border: none;
}
button:hover{
    opacity: 0.5;
    cursor: pointer;
}
h2{
    font-size: 2rem;
}
#today,#future, #completed{
    margin: 2rem 0px;
}

.item{
    display: flex;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 2rem 1rem;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem 0px;
}
.item>p{
    font-size: 1.5rem;
    font-weight: 400;
}

i{
    font-size: 1.5rem;
    margin-left: 1rem;
}
#today-items>.item{
    background-color: black;
    color: white;
    border: none;
}